<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../components/head.ejs', { title: 'Erro'}); %>

  <body>
    <%- include('../components/header.ejs'); %>
    <div class="content">
      <div id="erros">
    <h1>Exitem erros no projeto</h1>

    <%=errors%>
      
    <a href="/gerador">Fazer novamente</a>
  </div>
  </div>
    <%- include('../components/footer.ejs'); %>
  </body>
</html>
